#page 1{
	margin-top:3.8%;
}

#open{
	
	
}
#page 2{
background-color: #1abc9c;
margin-top:-2.5%;
padding-top:2%;
color: #ffffff;
}


#second{
	background-color: #474e5d;
	color: #ffffff;
	padding-left:4%;
	padding-right:4%;
}


#footer{
	background-color: #ffffff;
}




#page 3{
	background-color:#ff5c33;
	color:#ffffff;
}

input{
	color:black;
}

#bg-2{
	margin-left:5%;
	
	word-spacing:15px;
	line-height:150%;
}
#logo{
	font-size:1500%;
	color:#ff5c33;
	margin-top:6%;
	
}

#font{
	font-size:5%;
}

#page4a{
	color: #ff5c33;
	font-size:400%;
	
}

#page 4{
	background-color:#ff5c33;
	padding-left:5%;
	padding-right:4%;
}


#contact{
	font-size: 18px;
	
}

#last{
	padding-right:-10%;
	
}
















